auto-save-list
elpa
site-lisp
*~
configuration.el
projectile-bookmarks.eld
projectile.cache
custom.el
projects
recentf
smex-items
amx-items
.DS_Store
.backups
configuration_self*
transient
.#configuration.org
.lsp-session*
.cache